/* --- Page Setup --- */

@font-face {
    font-family: 'nexa_boldregular';
    src: url('/resources/fonts/nexa_bold-webfont.eot');
    src: url('/resources/fonts/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/fonts/nexa_bold-webfont.woff2') format('woff2'),
         url('/resources/fonts/nexa_bold-webfont.woff') format('woff'),
         url('/resources/fonts/nexa_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa_lightregular';
    src: url('/resources/fonts/nexa_light-webfont.eot');
    src: url('/resources/fonts/nexa_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/fonts/nexa_light-webfont.woff2') format('woff2'),
         url('/resources/fonts/nexa_light-webfont.woff') format('woff'),
         url('/resources/fonts/nexa_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* -- HTML file defaults -- */

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
}
*::selection {
    background-color: rgba(254, 0, 68, 0.658);
}

html,
body {
	background-color: rgb(16, 24, 48);
	color: #FE0040;
	width: 100%;
	height: auto;
	font-family: 'nexa_light', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	overflow: hidden;
	text-align: center;
	text-transform: none;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc((10vw + 10vh) / 2);
}