/* --- Page Setup --- */

/* -- HTML file defaults -- */

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
}

*::selection {
	background-color: #fe0044;
}

html,
body {
	background-color: #101830;
	color: #FE0040;
	width: 100%;
	height: auto;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	overflow: hidden;
	text-align: center;
	text-transform: none;
}

/* --- Header --- */

.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc((10vw + 10vh) / 2);
}

.menu {
	position: fixed;
	top: calc((3vw + 3vh) / 2);
	left: calc((3vw + 3vh) / 2);
	font-size: 40px;
	transition-duration: 0.5s;
}

.menu:hover {
	font-size: 48px;
	top: calc((2.8vw + 2.8vh) / 2);
	left: calc((2.8vw + 2.8vh) / 2);
	text-shadow: 0 0 7px rgba(122, 45, 75, 0.911);
}

.hidden {
	display: none;
}

.menuLink {
	font-family: 'Montserrat', sans-serif;
	position: fixed;
	font-size: 30px;
	top: calc((3vw + 3vh) / 2);
	margin-left: 1.3vw;
	color: #ffffff;
	transition: color .5s;
}

.menuLink:hover {
	color: #ccc;
}

#join {
	left: calc((5vw + 5vh) / 2);
}

#about {
	left: calc((12vw + 12vh) / 2);
}

#gallery {
	left: calc((21.5vw + 21.5vh) / 2);
}
